.border-parrafo{
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}
.centrado{
    text-align: center;
}
.display{
    display: inline-block;
    width: 33%;
    border: 1px solid black;
    text-align: left;
}
.displayDiv{
    
    display: flex;
    /*flex-direction: row;*/
    width: 100%;  
    text-align: center;
    box-sizing: border-box;
    
    
}

.columna{
    box-sizing: border-box;
    /*display: flex;*/
    padding:5px;
    margin: 5px;
    width:50%;
    vertical-align: top;
    border: 1px solid black;
    /*float: left;Me sale el aviso de que cancela al inline-block. y pasa a funcionar como block en vez de inline-block*/
}
.columna2{
    box-sizing: border-box;
    /*display: flex;*/
    padding:5px;
    margin: 5px;
    width:50%; 
    border: 1px solid black;
    /*float: right;*/

}
.parrafoDiv{
    text-align: center;
          
}


